body {
    background-color: rgb(31, 28, 28);
    color: rgb(134, 115, 115);
}

.card {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
}


.photo {
    border-style: solid;
    border-width: 5px;
    margin-bottom: 10px;
}

.general {
    border-style: solid;
    border-width: 5px;
    margin-bottom: 10px;
}

.about {
    border-style: solid;
    border-width: 5px;
    margin-bottom: 10px;
}

.contact {
    border-style: solid;
    border-width: 5px;

}