body {
    background-color: rgb(31, 28, 28);
    color: rgb(134, 115, 115);
}

ul {
    list-style-type: none;
    font-size: 26px;
    font-style: bold;
}

p {
    font-style: bold;

}

.info {
    font-size: 26px;
    line-height: 15px;
}

.frontend {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    display: inline-block;
}

.backend {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    display: inline-block;
}

.generaldev {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    display: inline-block;
}

.lowlvldev {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    display: inline-block;
}

.sysadmin {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    display: inline-block;
}


.card {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
}

.head {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}

.photo {
    border-style: solid;
    border-width: 5px;
    margin-bottom: 10px;
}

.general {
    border-style: solid;
    border-width: 5px;
    margin-bottom: 10px;
}

.about {
    border-style: solid;
    border-width: 5px;
}

.contact {
    border-style: solid;
    border-width: 5px;

}