body {
    background-color: rgb(31, 28, 28);
    color: rgb(134, 115, 115);
}

ul {
    text-align: left;
    list-style-type: none;
    font-size: 26px;
    font-style: bold;
}

p {
    font-style: bold;

}

.info {
    font-size: 26px;
    line-height: 15px;
}

.frontend {
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
}

#frontend {
    text-align: left;
}

.backend {
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
}

#backend {
    text-align: left;
}


.generaldev {
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    display: inline-block;
}


.lowlvldev {
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
}

.sysadmin {
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
}

.databases {
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
}

.card {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
}

.head {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}

.photo {
    border-style: solid;
    border-width: 5px;
    margin-bottom: 10px;
}

.general {
    border-style: solid;
    border-width: 5px;
}

.about {
    border-style: solid;
    border-width: 5px;
    margin-bottom: 10px;
}

.contact {
    border-style: solid;
    border-width: 5px;

}

span {
    font-size: 14px;
    border-radius: 5px;
    padding: 2px;
    color: rgb(41, 126, 201);
}

#begginer {
    background-color: lightgreen;
}

#elementary {
    background-color: yellowgreen;
}

#basic {
    background-color: yellow;
}

#intermediate {
    background-color: orange;
}

#advanced {
    background-color: red;
}

#expert {
    background-color: black;
}